* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;

}

/* Global */
.container {
    margin: 0 auto;
    overflow: hidden;
}

/* Header**/
.content section {
    background-image: url('../img/laptop code.jpeg');
    background-size: cover;
    background-position: center;
    background-position: center;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: #00000099;
}

header {
    background-color: #35424a;
    color: white;
    padding: 10px 0;
    text-align: center;
    border-bottom: #e8491d 3px solid;
}

header div {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    min-height: 70px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;

}

.hambuger {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header a:hover {
    color: #e8491d;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

header nav ul li {
    display: inline;
    float: right;
    padding: 0 5px 0 5px;
}

header .highlight {
    color: #e8491d;
    font-weight: bold;
}

.current a {
    color: #e8491d;
    font-weight: bold;
}


section h2 {
    color: #f4f4f4;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
}

body>div>div>section>p {
    color: #f4f4f4;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

section * {
    margin: 0;
    padding: 0;
    z-index: 1;
    /* text-align: center; */
}

.services {
    background-color: #35424a;

}

.services>div {
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}

.services input {
    height: 24px;
    padding: 18px;
    margin-top: 10px;
}

button {
    background-color: #e8491d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: #c0392b;
}

.Help input[type="text"] {
    width: 100%;
    height: 24px;
    padding: 15px;
}

.services-list {
    font-size: large;
    padding: 0;
    margin: 0;
}

.services h3 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #f4f4f4;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border: #e8491d;
    justify-content: space-between;
    text-align: center;
    box-shadow: auto;
    padding: 40px;
    flex: 1;
    width: 450px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 5px;

}


footer {
    background-color: #e8491d;
    color: white;
    text-align: center;
    padding: 10px 0;
    /* position: bottom; */
    bottom: 0;
    width: 100%;
}

.main-col {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

article p {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 5px;
}

.sidebar {
    background-color: #35424a;
    color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    height: fit-content;
}

.sidebar p {
    background-color: transparent;
    color: #f4f4f4;
}


.Services {
    padding: 2rem;
    margin: 20px;
    flex: 2;
}

.Help {
    background-color: #35424a;
    color: #f4f4f4;
    border-radius: 5px;
    margin: auto;
    padding-inline: 1rem 1.5rem;
    padding-bottom: 3rem;
    width: 100%;
    flex: 1;
}

label {
    padding-block-start: 5px;
}

.information {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

.info {
    background-color: #3d454a9c;
    color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 1;
}

.hero {
    background: #E8491D;
    background: linear-gradient(354deg, rgba(232, 73, 29, 1) 0%, rgba(133, 69, 53, 1) 22%, rgba(90, 67, 63, 1) 31%, rgba(53, 66, 72, 1) 50%);
    height: 60vh;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: #f4f4f4;
}

.contain {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    width: 80%;
    margin-inline: auto;
}

.contact_container {
    display: grid;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 80;
    gap: 1rem;
    grid-auto-columns: 1fr;
    width: 100%;
}

.card-container * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact_container i {
    font-size: 1.5rem;
}

.contact p {
    color: #333;
}

.contact_form {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem;
    padding: 3rem;
    box-shadow: 0px 0px 10px lightgrey;
    border-radius: 5px;
}

.title {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
}

input {
    padding: 10px;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

select {
    padding: 10px;
    margin-top: 0.6rem;
}

.send {
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 0;
}

.view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #35424a;
    padding: 3rem 10rem;
    height: 6vh;
}

.view i {
    font-size: 1.5rem;
    color: #e8491d;
}

.view a {
    text-decoration: none;
    color: white;
}

.view a :hover {
    cursor: pointer;
    color: #e8491d;
}

.view div {
    border: 2px solid #e8491d;
    border-radius: 6px;
    padding: 0.6rem;

}

.map iframe {
    width: 100vw;
}

.connect {
    height: 30vh;
    width: 100%;
    padding: 5rem;
    padding-bottom: 10rem;
    background: #3d454a9c;
    text-align: center;
}

.connect>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.connect>div button{
    border-radius: 8px;
}
/* tablet view css */
@media screen and (max-width:768px) {

    header div,
    .services>div {
        flex-direction: column;
        align-items: center;
        padding-block: 1rem;
    }

    .main-col {
        grid-template-columns: 1fr;
    }

    .information {
        flex-direction: column;
    }

    .Help {
        width: 80%;
    }

    .Help {
        margin-bottom: 2rem;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .contain {
        grid-template-columns: 1fr;
    }

    .contact_form {
        margin: 0;
        margin-bottom: 2rem;
    }

    .view {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        height: 100%;
        gap: 2rem;
    }
}

@media screen and (max-width:480px) {
    header h1 {
        font-size: 20px;
    }

    header div {
        display: flex;
        justify-content: space-around;
        align-items: left;
        text-align: left;
        flex-direction: row;
    }

    .hambuger {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        left: 0;
        display: none;
        position: absolute;
        background: #35424a9e;
        backdrop-filter: blur(6px);
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        top: 93px;
        /* align-content: center; */
        align-items: center;

    }

    .nav-links.show {
        display: flex;
    }

    header nav ul li {
        padding: 10px 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0.143);
        width: 100%;
        text-align: center;
    }

    .services>div {
        width: 100%;
    }

    .Help {
        width: 100%;
        padding-inline: 1rem;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .contain {
        grid-template-columns: 1fr;
    }

    .contact_form {
        margin: 0;
        margin-bottom: 2rem;
    }

    .view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        height: 100%;
        gap: 2rem;
    }

    .view div {
        width: 80%;
    }
}